<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="description" content="Blablabla…" />

        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}" />
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>

    <body>
        <header>
            {% include "_header.html.twig" %}
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            {% include "_footer.html.twig" %}
        </footer>
    </body>
</html>
