html {
    font-size: 16px;

    body {
        background-color: aqua;

        header {
            background-color: darkgoldenrod;
        }
        
        main {
            background-color: white;
        }
        
        footer {
            color: white;
            background-color: steelblue;
        }
    }
}